<div class="app-container">
  <div class="mat-elevation-z8">
    <div class="app-material-toolbar">
      <div>
        <button mat-button color="accent" (click)="columnSelectorClkHandler()">
          Column Selector
        </button>
      </div>
    </div>
    <app-material-table
      [dataSource]="customers"
      [displayColumns]="displayColumns"
      (columnChange)="columnChangeHander($event)"
    ></app-material-table>
    <mat-paginator
      showFirstLastButtons
      [length]="customers.length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageHandler($event)"
    ></mat-paginator>
  </div>
</div>
